.sq
{
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  color: white;
}

.red
{
  background-color: red;
}

.green
{
  background-color: green;
  /*left: 200px;*/
  /*top: 0;*/
}
