<!--<app-invoice></app-invoice>-->
<!--<app-select [array]="arr"></app-select>-->
<!--<app-select [array]="color"></app-select>-->

<!--<p>{{country}}, {{city}}</p>-->
<!--<app-select (selectChanged)="setCountry($event)" [array]="countries"></app-select>-->
<!--<app-select (selectChanged)="setCity($event)" [array]="addresses[country]"></app-select>-->


<!--<app-table></app-table>-->


<app-table-obj (rowOnClick)="setObject($event)" [dataSource]="people"></app-table-obj>
<h1>{{person}}</h1>


<app-exchange></app-exchange>
